.services_container {
        grid-template-columns: repeat(1,1fr);
        gap: 1.876rem;
}

@media (min-width: 48em) {
    .services_container {
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.875rem;
        grid-auto-rows: 1fr;
        gap: 1.876rem;
}
}



.services_card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
}

.services_card:hover {
    transform: translateY(-0.625rem);
}

.services_card:nth-child(1) {
    background-color: rgb(108, 108, 229);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.services_card:nth-child(2) {
    background-color: rgb(249, 215, 50);
    box-shadow: 0px 5px 20px 0px rgb(249, 215, 50 / 50%);
}

.services_card:nth-child(3) {
    background-color: rgb(249, 123, 139);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
}

.services_card:nth-child(4) {
    background-color: rgb(154, 224, 43);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
}

.services_card:nth-child(5) {
    background-color: rgb(247, 163, 103);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
}

.services_card:nth-child(6) {
    background-color: rgb(165, 123, 249);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
}

.services_img {
    margin-bottom: 1.25rem;
    width: 4rem;         /* Fixed width */
    height: 4rem;        /* Fixed height */
    object-fit: contain; /* Maintain image proportions inside the box */
     margin-bottom: 1.25rem;
    display: block;
     margin-left: auto;
    margin-right: auto;
}

.services_title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    color: #fff;
}

.services_description {
    color: #f8f9fa;
}

